# Build & Gradle
build/
out/
target/
.gradle/
*.jar

# IntelliJ & IDE
.idea/
*.iml
*.iws
.vscode/

# Security (Secrets)
src/main/resources/application.yml
.env
application-local.yml

# OS
.DS_Store
Thumbs.db